<header class="site-header">
    <div class="site-header-item">
        <a class="site-header-logo" href="/">
            <img src="/staticFolder/ApexCat.jpg">
            <span>Friend&Friend</span>
        </a>
    </div>
    <div class="site-header-item">
        <a href="/p/new">New Post</a>
    </div>
</header>