<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle=customTitleId }}
<body>
    {{> siteHeader}}
    {{#if onePost}}
        <div style="background-color: #FFF4E0;">
            <h2>{{onePost.titlePost}}</h2>
            <p>
                <span>{{onePost.userCreate}} | </span>
                <span>{{onePost.createdDate }}</span>
            </p>
        </div>
    {{else}}
        <p>Not found psot</p>
    {{/if}}
    {{> siteFooter}}
</body>
</html>