<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle="Create New | "}}
<body>
    {{> siteHeader}}
    <div>
        <h2>Create New Post</h2>
        <p>Let's create.</p>
    </div>
    {{> siteFooter}}
</body>
</html>