<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle="Create Success | "}}

<body>
    {{> siteHeader}}
    <section class="section">
        <div class="container">
            <h2>Create Success</h2>
            <p>Done</p>
            <a class="button" href="/">Return Home</a>
        </div>
    </section>
    {{> siteFooter}}
</body>
</html>