<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle="Create Success | "}}
<body>
    {{> siteHeader}}
    <div>
        <h2>Create Success</h2>
        <p>Done</p>
        <a href="/">Return Home</a>
    </div>
    {{> siteFooter}}
</body>
</html>