.app-header-logo{
  height: 44px;
}

.app-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: whitesmoke;
}